NEXT_PUBLIC_SUPABASE_URL=https://jslamfqlenunmrowrucl.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpzbGFtZnFsZW51bm1yb3dydWNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2MTA2MjUsImV4cCI6MjEwNjE4NjYyNX0.uySf0wEWB5on4SuAwLsGtnBN8rym4lYR-oqY1Brn9Nw
